body {
  background-color: powderblue;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif
}
h1 {
  color: rgb(88, 88, 93);
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif
}
p {
  color: rgb(99, 101, 245);
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif
}
