body {
  background-color: rgb(255, 255, 255);
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif
}
h1 {
  color: rgb(88, 88, 93);
  border-color: lightskyblue;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  border-style: none none solid none;
  padding-top: 30px;
  padding-bottom: 3px;
  text-align: center;
}

h2 {
  color: rgb(88, 88, 93);
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  padding-top: 15px;
  text-align: left
}

p {
  color: rgb(93, 93, 93);
  background-color: lightcyan;
  padding: 5px;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
  border-style: none;
  border-radius: 10px;
}

nav {
  color: rgb(88, 88, 93);
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a {
  display: inline-block;
  text-align: center;
  padding: 12px;
  color: rgb(81, 81, 81);
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  border-style: solid;
  border-color: lightskyblue;
  background-color: lightcyan;
  border-radius: 15px;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 50px;
  margin-right: 20px;
  margin-top: 15px;
}